@model DriftService.Models.ContactViewModel
<link rel="stylesheet" href="~/Content/StyleSheet.css" />
@{
    ViewBag.Title = "Registrering";
}
<div class="banner">
    <div class="banner-content">
        <h2><b>Registrering</b></h2>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <div class="row">
            <div class="col-lg-6">
                <p>
                    <b>Prenumerera på driftinformation</b><br />Fyll i din e-postadress och mobilnummer samt välj vilken/vilka prenumerationer du vill anmäla dig till. Du får då information när vi publicerar ny driftinformation för respektive område.
                    Känner du dig osäker vilka tjänster du skall fylla i? Fyll i det du tror är rätt, vår Servicedesk kommer att uppdatera och justera om det behövs.
                </p>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2 col-lg-4" })
                    <div class="col-md-10 col-lg-8">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2 col-lg-4" })
                    <div class="col-md-10 col-lg-8">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Business, htmlAttributes: new { @class = "control-label col-md-2 col-lg-4" })
                    <div class="col-md-10 col-lg-8">
                        @Html.EditorFor(model => model.Business, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Business, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 col-lg-4" })
                    <div class="col-md-10 col-lg-8">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2 col-lg-4" })
                    <div class="col-md-10 col-lg-8">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })<br />
                    </div>
                </div>
              </div>

                <div class="col-xs-6 col-md-6 col-lg-6">
                    <h4><b>Valbara tjänster</b></h4>
                    @{
                        bool MatchingID = false;
                    }
                   
                        @foreach (var item in Model.ServiceTypeList)
                        {
                            if (Model.SelectedServiceTypeList != null)
                            {

                                if (Model.SelectedServiceTypeList.Any(x => x == item.ServiceTypeID))
                                {
                                    MatchingID = true;
                                }
                                else
                                {
                                    MatchingID = false;
                                }

                            }

                        <div class="ServiceTypeBlock">
                            <label for="@item.Description">@item.Description</label>
                            <div class="ServiceTypeCheckBox">
                                <input type="checkbox" class="checkbox" name="SelectedServiceType" value="@item.ServiceTypeID" id="@item.ServiceTypeID" checked="@MatchingID"/>
                            </div>
                        </div>
                        }
                   
                    <div class="text-danger">
                        @ViewBag.ErrorMessageServiceType
                   </div>
                 </div>
            </div>

            <div class="row">
                <div class="col-xs-2 col-md-2 col-lg-offset-2">
                    <h4><b>Val av notifiering</b></h4>
                    <div class="BorderBlack">
                        <div class="checkBoxMargin">
                            @Html.CheckBoxFor(m => m.SelectedSms)<b>SMS</b><br /><br />
                            @Html.CheckBoxFor(m => m.SelectedEmail)<b>Email</b>
                        </div>
                    </div>
                    <div class="text-danger">
                        @ViewBag.ErrorMessageNotificationType
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 text-aligin-right">
                  <input type="submit" value="Registrera" class="btn btn-default" />
               </div>
            </div>
         </div>  
         

            @section Scripts {
                @Scripts.Render("~/bundles/Customjquery")
                @Scripts.Render("~/bundles/jqueryval")

            }
            }


